@charset "utf-8";
/* -- common -- */
.title-2 {
    padding: 0 0 40px;
    font-size: 34px;
    line-height: 1.2em;
    font-weight: lighter;
    color: #fffce0;
    text-transform: uppercase;
}
.title-3 {
    color: #f8e853;
    text-transform: uppercase;
    font-size: 16px;
    line-height:24px;
}
.title-3 img {
    margin-right: 15px;
    float: left;
}
.title-3 a {
    color: #75a6b3;
    transition: all .5s ease;
}
.title-3 a:hover { color:#f8e853;}
.title-4 {
    color: #75a6b3;
    text-transform: uppercase;
    font-size: 12px;
    line-height:30px;
}
.title-4 i {
    margin-right: 20px;
    color: #fff;
}
.title-4 a {
    color: #75a6b3;
    transition: all .5s ease;
}
.title-4 a:hover { color: #f8e853;}
.text {
    margin-top: 10px;
    font-size: 14px;
    line-height:24px;
    color: #cad4d7;
}
/* -- public end -- */

.breadcrumb {
    background-color: transparent;
    border-top: 1px solid #5b707a;
    border-bottom: 1px solid #5b707a;
    margin-top: -30px;
    padding: 10px 0;
}
.breadcrumb a { color: #bbbaba;}
.breadcrumb a:hover { color: #f8e853;}
.breadcrumb .active { color: #f8e853;}

body { background-color: #41545b;}
article .section-1 { margin-bottom: 50px;}
#part-1, #part-2, #part-3, #part-4 { margin-bottom: 80px;}

#part-1 .section-2 { margin-bottom: 40px;}
#part-1 figure a {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}
#part-1 figure img {
    position: relative;
    top: 0;
    left: 0;
}
#part-1 figure span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
#part-1 figure a:hover span{
    width: 100%;
    height: 100%;
}
#part-1 figure span:hover:before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin: -62px 0 0 -62px;
    width: 125px;
    height: 125px;
    background: url(../img/magnify-alt.png) 50% 50% no-repeat;
    content: "";
}

#part-2 .more {
    margin-top: 20px;
    position: relative;
    background-color: #f8e853;
    text-align: center;
    display: inline-block;
}
#part-2 .more a {
    position: relative;
    padding: 13px 20px;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #363f45;
    z-index: 3;
}
#part-2 .more .slide-2 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    display: inline-block;
    background-color: #75a6b3;
    z-index: 1;
    transition: all .7s ease;
}
